.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .header-right{
    position: absolute;
    top: 92%;
    right: 285px;
    font-style: italic;
    font-size: 200%;
  }
body{margin:0;
    background-color: #f8b892;}
  img{width: 100%; max-height: 100%;  overflow: hidden;}
  /*.header {margin-top: 2%; margin-left: 0.5%;
    height: 70%; overflow: hidden;  top: 100%; background-color: #a0623c; padding:  15px 10px 1px 10px; width: 97.7%; }
    
   .header a {float: center; top: 50%; color: whitesmoke; text-align: center; padding:  5px 10px 3px 10px; text-decoration: none; font-size: 18px; line-height: 25px; border-radius: 4px;}

   .header a.logo { float: left; top:5%; }
   .header a:hover {
    background-color: white;
    color: black;
  }
  */
  
  .hero-section .item{position: relative;}
  .hero-section .item{height: 600px;}
  .hero-section .item figure{margin: 3%; height: 100%; margin-left: 10%;}
  .hero-section .item figure img{width: 50%; height: 50%; object-fit: cover;left: 50%;}
  .hero-section .item .text{position: absolute; left: 50%; top: 50%; font-size: 30px; font-family: Helvetica; font-style:italic;  transform: translate(10%, -160%); }
  
  .navbar {margin-top: 2%;
    overflow: hidden;
    background-color: #511f1f;
  }
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .subnav {
    float: right;
    overflow: hidden;
  }
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;}
    .navbar a:hover, .subnav:hover .subnavbtn {
      background-color: #ff8c52;
    }
    .subnav-content {
      display: none;
      position: absolute;
      left: 0;
      background-color: #ff8c52;
      width: 100%;
      z-index: 1;
    }
    .subnav-content a {
      float: right;
      color: white;
      text-decoration: none;
    }
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    .subnav:hover .subnav-content {
      display: block;
    }
    .header {
      grid-area: header;
      background-color: #f1f1f1;
      padding: 30px;
      text-align: center;
      font-size: 35px;
    }
    
    /* The grid container */
    .grid-container {
      display: grid;
      grid-template-areas: 
      
        'left left middle middle right right' 
        
    }
    
    .left,
    .middle,
    .right {
      padding: 5px;
      height: 300px;
      width: 500px; 
    }
    
   
    .left {
      grid-area: left;
    }
    
    .middle {
      grid-area: middle;
    }
    
 
    .right {
      grid-area: right;
    }
    @font-face {
      font-family: 'PlayballRegular';
      src: url('../fonts/PlayballRegular.eot');
      src: url('../fonts/PlayballRegular.eot') format('embedded-opentype'),
           url('../fonts/PlayballRegular.woff2') format('woff2'),
           url('../fonts/PlayballRegular.woff') format('woff'),
           url('../index1.html') format('truetype'),
           url('../fonts/PlayballRegular.svg#PlayballRegular') format('svg');
  }
  
  

.middle{font-family: 'PlayballRegular';
    font-weight: 400;
    font-style: normal;

  }